.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.error p {
  color: #a94442;
  margin: 0;
  line-height: 22px;
}
